
<% if not logged_in? %>
  <div class="call-to-action gradient">

  <h1>New to the Site?</h1>
    <%= link_to("Get Started!", signup_path, html_options = {class: "btn btn-huge btn-primary"}) %>

  </div>

<% end %>
