
<% if not logged_in? %>
  <div class="call-to-action gradient">

  <h1>Welcome to the demo!</h1>
  <h3>This is a functioning demo of a microblogging service!</h3>
    <%= link_to("Get Started!", signup_path, html_options = {class: "btn btn-huge btn-primary"}) %>

  </div>

<% end %>
